@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Manrope:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --color01: #925d0e;
    --color02: #ffd726;
    --color03: #f0f8ff;

    --font-family01: 'Anton', sans-serif;
    --font-family02: 'Bebas Neue', cursive;
    --font-family03: 'Manrope', sans-serif;
}

body {
    background-image: linear-gradient(130deg, var(--color01), var(--color02));
    height: 100vh;
    background-repeat: no-repeat;
}

#principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

img {
    width: 300px;
}

.legenda {
    font-family: helvetica, sans-serif;
    font-size: 0.6em;
}

#right {
    max-width: 600px;
}

.subtitle {
    font-family: var(--font-family02);
    font-size: 50px;
    margin-top: 100px;
}

.title {
    font-family: var(--font-family02);
    font-size: 100px;
    color: var(--color03);
    line-height: 1em;
    margin-bottom: 20px;
}

.text {
    font-family: var(--font-family03);
    color: var(--color03);
}

#log-in {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

input {
    padding: 20px;
    border: none;
    border-radius: 16px;
    width: 20em;
}

button {
    border: none;
    border-radius: 16px;
    width: 15em;
    padding: 20px;
    background-color: var(--color01);
    color: var(--color03);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.322);
    font-family: var(--font-family03);
}
button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #92621b;
}

footer {
    background-color: #000;
    color: #ffffff;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}